{% extends "layout.html" %}
{% block title %} form to add new user {% endblock title %}
{% block content %}
  <form method="post">
    <fieldset>
      <legend> data for new user </legend>
      <label for="username">username on this app</label>
      <input type="text" class="form-control" name="username" id="username" required>
      <label for="airtable_username">username on the airtable</label>
      <input type="text" class="form-control" name="airtable_username" id="airtable_username">
    </fieldset>
    <input class="btn btn-primary" value="add user" type="submit">
  </form> 
{% endblock content %}
