<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ requested_item_name }} request: matching offers</title>
    <nav>
      <a href="{{url_for('user.index')}}">index</a>
      >
      <a href="{{url_for('user.my_requests')}}">my requests</a>
      >
      <u>matching offers</u>
    </nav>
  </head>
  <body>
    <h1>matching offers for {{ requested_item_name }}</h1>
    <ul>
      {% for offer in offers %}
        <li><a href="{{ url_for('user.matching_offer_details', request_id=request_id, offer_number=offer['offer_number'])}}">{{offer['item_name']}}</a></li>
      {% endfor %}
    </ul>
  </body>  
</html>
