<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mututal Aid Brighton deliveries app - main index</title>
    <nav>
      {% if user is none %}
        <a href={{ url_for('user.login_info') }}>user login</a>
      {% endif %}
      <a href={{ url_for('user.logout') }}>logout</a>
      <a href={{ url_for('admin.index') }}>admin</a>
    </nav>
  </head>
  <body>
    {% if user is not none %}
      welcome, {{ user }}.
      <h1>user utilities</h1>
      <ul>
        {% for link in links %}
          <li> <a href = {{ link['relative_link'] }}> {{ link['link_text'] }}</a> </li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>  
</html>
