{% extends "layout.html" %}
{% block title %}index{% endblock title %}
{% block content %}
  <div id="main">
    {% if 'profile' in session.keys() %}
    <div>
      Welcome, {{session['profile']['name']}}
    </div>
    <h5>user utilities</h5>
    <ul>
      {% for link in links %}
      <li> <a href = {{ link['relative_link'] }}> {{ link['link_text'] }}</a> </li>
      {% endfor %}
    </ul>
    {% else %}
    please <a href="{{url_for('user.login')}}">login</a>.
    {% endif %}
  {% endblock content %}
