{% extends "layout.html" %}
{% block title %}index{% endblock title %}
{% block user_menu %}
  <div>
    {% if user is none %}
      <a href={{ url_for('user.login_info') }}>user login</a>
    {% endif %}
    <a href={{ url_for('user.logout') }}>logout</a>
    <a href={{ url_for('admin.index') }}>admin</a>
  </div>
{% endblock user_menu %}
{% block content %}
  {% if user is not none %}
    welcome, {{ user }}.
    <h1>user utilities</h1>
    <ul>
      {% for link in links %}
        <li> <a href = {{ link['relative_link'] }}> {{ link['link_text'] }}</a> </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
