{% extends "layout.html"%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <article>
    If you have a password, you can login here. </br>
    Normally, you should log in with the link you were given. </br>
    If you've lost that, get in touch and we'll send you a new one. </br>
  </article>
  <h1>Sign In</h1>
  {{ wtf.quick_form(form) }}
{% endblock %}
